{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="{{ 'jquery-ui.min.js' | asset_url }}" defer="defer"></script>

<div class="col-md-3">
  <div style="width:300px; clear:both;">
    <p>
      <label for="date">Pick a delivery date:</label>
      <input required id="date" type="text" name="attributes[Date]" value="{{ cart.attributes.date }}">
    </p>
  </div>
</div>
<div class="col-md-3">
  <label id="time_option_label">Delivery Time</label>
  <div id="time_html">
    <select required class="required" id="delivery-time" name="attributes[Delivery Time]">
      <option
        value="10:00 AM - 04:00 PM"
        {% if cart.attributes['Delivery Time'] == '10:00 AM - 04:00 PM' %}
          selected
        {% endif %}
      >
        10:00 AM - 04:00 PM
      </option>
      <option
        value="04:00 PM - 10:00 PM"
        {% if cart.attributes['Delivery Time'] == '04:00 PM - 10:00 PM' %}
          selected
        {% endif %}
      >
        04:00 PM - 10:00 PM
      </option>
    </select>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#emirate").change(function(){
      var city = this.value;
      if(city == 'Dubai'){  
        $("#date").datepicker("option", "minDate", 0);
      } else {
        $("#date").datepicker("option", "minDate", +1);
      }
      $("#date").datepicker("refresh");
    });
  });

  window.onload = function() {
    let time_json = {1:'10:00 AM - 04:00 PM', 2:'04:00 PM - 10:00 PM'};
    if (window.jQuery) {
      let $ = window.jQuery;
      $(function() {
        let checkoutButton = document.querySelector('#checkout');
        if (checkoutButton) {
          checkoutButton.disabled = true;
        }
        $("#date").datepicker({
          minDate: 0,
          maxDate: '+50M',
          onSelect: function(){
            var selectedDate = $(this).datepicker("getDate");
            var today = new Date();
            var currentTime = new Date().getHours();
            var emirate = $("#emirate").val();

            if (emirate === 'Dubai' && isToday(selectedDate)) {
              if (currentTime >= 22) {
                $("#date").datepicker("option", "minDate", +1);
              } else {
                $("#date").datepicker("option", "minDate", 0);
              }
            } else if (emirate !== 'Dubai') {
              $("#date").datepicker("option", "minDate", +1);
            }

            if (selectedDate) {
              if (checkoutButton) {
                checkoutButton.disabled = false;
              }
            } else {
              if (checkoutButton) {
                checkoutButton.disabled = true;
              }
            }

            if (isToday(selectedDate)) {
              let select_option = buildSelect(time_json);
              $("#time_html").html(select_option);
            } else {
              let select_option = buildSelect(time_json);
              $("#time_html").html(select_option);
            }
          }  
        });
      });
    }
  }

  function buildSelect(options) {
    var $select = $('<select required class="required" id="delivery-time" name="attributes[Delivery Time]"></select>');
    var $option;
    for (var val in options) {
        $option = $('<option value="' + options[val] + '">' + options[val] + '</option>');
        $select.append($option);
    }
    return $select;
  }

  function regular_date_picker(){
    $("#date").datepicker("option", "minDate", +1);
    $("#date").datepicker("refresh");
  }

  function date_picker(){
    $("#date").datepicker("option", "minDate", -1);
    $("#date").datepicker("refresh");
  }

  function isToday(date) {
    const today = new Date();
    return today.toDateString() === date.toDateString();
  }
</script>


